.vs/
.vscode/
.idea/
runtimes/
artifacts/
build/
[bB]in/
[oO]bj/
artifacts/
packages/
*.user
*.suo
_ReSharper*
*.nupkg
*.lock.json
TestResult.xml
test-results/
tests/StatsdClient.Tests/TestResults
.DS_Store
src/StatsdClient.userprefs
src/packages/
*.ncrunchsolution
*.ncrunchproject
*.crunchsolution.cache
_NCrunch_*
BenchmarkDotNet.Artifacts
