###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

# Set line endings to LF, even on Windows. Otherwise, execution within Docker fails.
# See https://help.github.com/articles/dealing-with-line-endings/
*.sh text eol=lf
*.bash text eol=lf
