[bB]in
[oO]bj
*.user
*.suo
_ReSharper*
*.nupkg
*.lock.json
TestResult.xml
test-results/
.DS_Store
src/StatsdClient.userprefs
src/packages/
src/.vs/
*.ncrunchsolution
.vs/
*.ncrunchproject
*.crunchsolution.cache
_NCrunch_*
